* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html,
body {
   margin: 0;
   padding: 0;
   height: 100%;
}
#container {
   min-height: 100%;
   position: relative;
   background-color: #f1f1f1;
}
#header {
  height: 70px;
  border-bottom: 1px solid lightgrey;
  background-color: #fff;
}
#body {
   padding: 10px;
   padding-bottom: 70px;
}
#footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 70px;
   background: #fff;
   border-top: 1px solid lightgrey;
}
.clearfix {
  content: "";
  display: table;
  clear: both;
}

/* Primary positioning on the page */

.header-layout1 {
  height: 50px;
  margin: 0 auto;
}
.body-center {
  position: relative;
  max-width: 1050px;
  margin: 0 auto;
}
.body-layout1 {
  float: left;
  width: 160px;
  height: 200px;
  border: 1px solid lightgray;
  background-color: #fff;
}
.body-menu {
  list-style: none;
  margin-left: -20px;
}
.body-menu li {
    margin-bottom: 10px;
}
.body-menu a {
    text-decoration: none;
    color: black;
}
.body-layout2 {
  margin: 0 0 0 165px;
  min-height: 200px;
  max-width: 870px;
  min-width: 440px;
  padding: 15px;
  border: 1px solid lightgray;
  background-color: #fff;
  text-align: left;
}
.block {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: #f1f1f1;
  margin: 5px 0;
}
.block:nth-child(4n) {
  margin-right: 0;
}
.footer-layout1 {
  margin: 10px auto 0 auto;
}
@media screen and (max-width: 630px) {
    .body-layout1 {
      width: 440px;
      float: none;
      height: 30px;
    }
    .body-layout2 {
      width: 440px;
      margin: 5px 0;
    }
    .body-menu {
      padding: 0;
      text-align: center;
      margin-top: 5px;
    }
    .body-menu li {
      display: inline;
    }
    .body-menu a {
      margin-right: 25px;
    }
    .body-menu .last {
      margin-right: 0;
    }
}